html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}

.header1 {
      width: 100%;
      height: 100vh;
      background: url(../img/metiers5.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.header-developpeur {
      width: 100%;
      height: 100vh;
      background: url(../img/developpeur2.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.header2 {
      width: 100%;
      height: 40vh;
      background-size: cover;
}

.contenu {
      width: 94%;
      margin: 4em auto;
      font-size: 10px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      position: fixed;
      float: left;
      margin: 10px 46px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      z-index: 99999;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;

}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

nav ul li a:hover {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.icone-menu {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;

}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .icone-menu {
            display: block;
      }

}

.top {
      width: 100%;
      max-width: 1800px;
      height: 1000px;
      display: block;
      margin: 0 auto;
      background: white;
}

section.top article {
      height: 300px;
      background: ;
      float: left;
      border-radius: 4px;
      overflow: hidden;
      transition: 0.4s ease;
}

section.top article:hover{
      background: #F4F5F5;
      box-shadow: 0 1px 5px #000000;
      transition: 0.4s ease;
}

section.top article {
      width: 30%;
      height: 300px;
      margin-top: 20px;
      background: #0000;
      float: left;
}

section.full-page {
      width: 100%;
      height: 100%;
      display: block;
      background: grey;
}

section.full-page2 {
      width: 100%;
      height: 100%;
      display: block;
      background: white;
}

.col-4 {
      width: 30%;
      margin: 0 1.2%;
      display: table;
      border-radius: 2px;
}

div.picture img {
      width: 100%;
}

article.post h3,
article.post p {
      padding: 1px 5px;
      text-align: justify;
}

article.post a {
      text-decoration: none;
      color: black;
}

@media screen and (max-width: 769px){
      .col-4{width: 94%;}
}

article.post h3 {
      font-size: 22px;
      text-align: center;
}

h1 {
      text-align: center;
}

.noir {
      background: black;
}


.contenu-article {
      margin-right: 2%;
      margin-left: 2%;
      text-align: justify;
      font-family: 'Lato';
      font-size: 2.8vh;
}

.panier-article {
      position: relative;
      left: 10%;
      padding-top: 10%;
}

.panier-quantite {
      position: relative;
      left: 60%;
      display: inline;
}

.panier-prix {
      position: relative;
      left: 90%;
}

#panier {
    overflow:auto;
    text-align:center;
}
#panier-article {
    float:left;
    padding-left: 7%;
}
#panier-quantite {
    float:right;
    padding-right: 7%;
}
#panier-prix {
    display:inline;
}

#hr-panier {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ddd, #333, #ddd);
}

#panier h2 {
      font-size: 180%;
      font-family: 'Lato';
      color: #595959;
}

article h1 {
      font-size: 250%;
      font-family: 'Lato';
}

#contenu-panier img {
      position: relative;
      padding-left: 4.2%;
}

#contenu-panier p {
    float:right;
    padding-right: 6.5%;
    font-size: 150%;
    font-weight: bold;
}


.plus-minus-input {
      position: relative;
      padding-left: 41.5%;
}

.plus-minus-input .input-group-field {
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.plus-minus-input .input-group-button .circle {
  border-radius: 50%;
  padding: 0.50em 0.8em;
}

.info-moi {
      position: relative;
      padding-top: 10%;
}
.location {
      position: relative;
      padding-top: 5%;
}

.texte-info {
      margin-right: 2%;
      margin-left: 2%;
      padding-top: 4%;
      text-align: justify;
      font-family: 'Lato';
      font-size: 2.8vh; 
}

.me-contacter {
      padding-top: 6%;
}

div iframe {
  position: relative;
  padding-top: 5%;
}
















*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Lato'; 
}
.clr{
  clear: both;
}
.footer-wrapper{
  width: 100%;
  height: auto;
  min-height: 250px;
  margin:auto;
  background-image: url(footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding-top: 0px;
  background:black;
}
.footer-social-icons{
  width: 100%;
  height: auto;
  margin:auto;
  margin-bottom: 40px;
}
.footer-social-icons ul{
  margin:0px;
  padding: 0px;
  text-align: center;
}
.footer-social-icons ul li{
  display: inline-block;
  margin-right: 2px;
  width: 36px;
  height: 36px;
  text-align: center;
}
.footer-social-icons ul li a{
  color: #fff;
  display: block;
  font-size: 22px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.75);
}
.footer-social-icons ul li a i{
  line-height: 36px;
}
.footer-social-icons ul li:nth-child(1){
    background: #3b5998;
}
.footer-social-icons ul li:nth-child(2){
    background: #1da1f2;
}
.footer-social-icons ul li:nth-child(3){
    background: #25d366;
}
.footer-social-icons ul li:nth-child(4){
    background: #c32aa3;
}
.footer-social-icons ul li:nth-child(5){
    background: #007bb5;
}
.footer-social-icons ul li:nth-child(6){
    background: #ff0000;
}
.footer-social-icons ul li:nth-child(7){
    background: #db4437;
}
.footer-social-icons ul li:nth-child(8){
    background: #00aff0;
}
.footer-social-icons ul li:nth-child(9){
    background: #09b83e;
}
.footer-social-icons ul li:nth-child(10){
    background: #bd081c;
}
.footer-mid-part{
  width: 100%;
  height: auto;
  margin: auto;
}
.footer-section-one{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  background: rgba(255,255,255,.1);
}
.footer-section-two{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
}
.footer-section-three{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  background: rgba(255,255,255,.1);
}
.footer-heading{
   width: 100%;
  height: auto;
  margin: auto;
}
.footer-heading h2{
  font-size: 18px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 0px;
}
.footer-contact-box{
  width: 100%;
  height: auto;;
  margin: auto;
  margin-top: 13px;
}
.footer-contact-icon{
  width: 25px;
  height: 25px;
  float: left;
}
.footer-contact-icon i{
  color: #fff;
  font-size: 20px;
}
.footer-contact-text{
  width: 85%;
  height: auto;
  float: left;
  margin-left: 10px;
}
.footer-contact-text p{
  font-size: 14px;
  text-align: left;
  color: #fff;
  cursor: pointer;
}
.footer-contact-text p a{
  font-size: 14px;
  text-align: left;
  color: #fff;
  text-decoration: none;

}
.footer-contact-text p:hover{
  color: #13C9E1;
}
.footer-contact-box:hover .footer-contact-icon i{
   color: #13C9E1;
}
.footer-contact-box:hover .footer-contact-text p a{
  color: #13C9E1;
}
.footer-link{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.footer-link ul{
  margin:0px;
  padding: 0px;
}
.footer-link ul li{
  list-style-type: none;
  text-align: center;
  padding-top: 5px;
}
.footer-link ul li a{
  font-size: 14px;
  color: #fff;
  text-decoration: none;
   text-transform: capitalize;
}
.footer-link ul li a:hover{
  color: #13C9E1;
}
.footer-link-icons {
      margin-top: 10%;
      margin-left: 10%;
}

.footer-section-two .footer-heading h2{
  text-align: center;
}
.footer-form{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.footer-form-box{
   width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.footer-form-style{
  width: 100%;
  height: 40px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom:1px solid rgba(255,255,255,.1);
  background:transparent;
  font-size: 14px;
  text-align: left;
  padding: 0px 10px;
  color: #fff;
}
.footer-form-submit-style{
  width: 129px;
  height: 35px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background: rgba(255,255,255,.5);
  border:none;
  margin-top: 1px;
}
.footer-form-submit-style:active{
  background: #13C9E1;
}
.footer-bottom{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-bottom{
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.top-img{
  position: absolute;
  background: url(top-divder.png);
  top: -20px;
  left: 0px;
  width: 100%;
  height: 55px;
}
h1{
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}
h1 span{
  color: #f00;
}
/*RESPONSIVE CODE*/
@media only screen and (max-width: 1199px){
  .footer-wrapper{
    position: relative;
    background-attachment: scroll;
  }
  h1{
    font-size: 4vw!important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer-section-one{
    padding: 12px;
  }
  .footer-social-icons ul li{
    margin-bottom: 5px;
  }
}

.twitter {
      width: 220px;
      text-decoration: none;
}









.col-lg-3 col-md-6 col-sm-12 section{
  width:20%;
  margin:50 auto;
}

.loader{
  width:80%;
  height:20px;
  background:white;
  border-radius:10px;
  border: 1px solid lightgrey;
  overflow:hidden;
} 

.loader-active{
  width:100%;
  height:100%;
  background:green;
  animation-name: loader;
  animation-duration: 4s;
  animation-iteration-count: infinite; /*1, 2, more or infinite */
  animation-timing-function: linear; /* ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  /*
   animation-delay: 2s;
  */
}

@keyframes loader {
  0% {
    background-color: #1B80CD;
    width:0%;
  }
  50% {
    background-color: #a23daf;
    width:50%;
  }
  100% {
    background-color: #FF0000;
    width:100%;
    
  }
}













.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

.titre-connexion {
  font-size: 6vw; 
  text-align: center; 
  margin-bottom: -21px; 
  display: block;
}

.titre-connexion span {
  font-size: 2vw;
  text-align: center; 
  display: block; 
  margin-bottom: 25px;
}
.login
{
    width: 20%;
    text-align: center;
    background: #fff;
    height: 300px;
    padding: 10px;
    margin: 50px auto;
}

.login2
{
    width: 20%;
    text-align: center;
    background: #fff;
    height: 350px;
    padding: 10px;
    margin: 50px auto;
}

.div-utilisateur
{
    color: #888888;
    text-align: left;
    font-size: 19px;
    margin-top: 15px;
}
.giris
{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: none;
    background: #E5E5E5;
    outline: none;
    padding: 0 10px;
}
.butonlogin
{
    width: 100%;
    margin-top: 10px;
    height: 40px;
    font-weight: bold;
    background: #2196F3;
    border: none;
    color: #fff;
    transition: all 250ms;
}
.butonlogin:hover
{
    background: #1E88E5;
}

.pas-encore-inscrit {
  position: relative;
  padding-top: 10px;
}

.section-connexion {
  height: 90vh;
}

.hr-connexion {
  border: 1px solid #ccc;
}









/* FORMULAIRE DE CONTACT*/

.formulaire {
      margin-top: 1%;
      margin-left: 5%;
      width: 50%;
}

input[type=text] {
      border-radius: 3px;
      border: 0.3px solid;
      height: 30px;
}

#nom1 {
      position: relative;
      margin-left: 10%;
      padding-top: 10%;
}

#prenom1 {
      position: relative;
      margin-left: 10%;
}

#email1 {
      position: relative;
      margin-left: 10%;
}

#telephone1 {
      position: relative;
      margin-left: 10%;
}


.textarea {
      margin-left: 55%;
      margin-top: -12.7%;
      width: 30%;
}

.hr-contact {
      border-left: 1px solid black;
      height: 205px;
      position: absolute;
      left: 49.3%;
      top: 228%;
}

.pitch {
      color: #B6B6B6;
      font-size: 2.1vh;
      position: relative;
      padding-top: 10%;
      width: 230%;
      text-align: justify;
}

.bouton-paiement a {
      position: relative;
      margin-top: -10%;
      margin-left: 72%;
      width: 25%;
}

.btn-success {
  position: relative;
  margin-left: 40%;
  margin-top: 3%;
  margin-bottom: 10%;
}

.infos {
  position: relative;
  margin-top: -21%;
}
