html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

.body {
  background-color: #ffffff;
}

.body2 {
  background-size: 100%;
  background-repeat: no-repeat;
}

.body2:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background-color: #e8e8e8;
}

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]
{
  display: none;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 300%;
  height: 300%;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.header1 {
  width: 100%;
  height: 50.5%;
  background-size: cover;
}

.header-developpeur {
  width: 100%;
  height: 100vh;
  background: url(../img/developpeur2.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.header2 {
  width: 100%;
  height: 40vh;
  background-color: black;
  background-size: cover;
}

.img-responsive {
  position: sticky;
  width: 40%;
  height: 50%;
  cursor: pointer;
}

.contenu {
  width: 94%;
  padding-top: 2%;
  font-size: 10px;
  line-height: 30px;
}

.h2-center {
  width: 100%;
  text-align: center;
  font-size: 45px;
  padding-top: 5%;
  margin-bottom: 3%;
  font-family: Ubuntu;
  font-weight: bold;
}

#h2-center-video {
  text-align: center;
  font-size: 45px;
  margin-bottom: 2%;
  /*margin-bottom: 50%;*/
  font-family: Ubuntu;
  font-weight: bold;
}

#h2-interview {
  text-align: center;
  font-size: 45px;
  padding-bottom: 10%;
  font-family: Ubuntu;
  font-weight: bold;
}

#h2-center-metiers {
  text-align: center;
  font-size: 45px;
  padding-top: 4%;
  margin-bottom: 5%;
  z-index: 9999999;
  font-family: Ubuntu;
  font-weight: bold;
}

.h2-center-accueil {
  width: 100%;
  text-align: center;
  font-size: 45px;
  padding-top: 5%;
  margin-bottom: 5%;
  font-family: Ubuntu;
  font-weight: bold;
}

#h1-center {
  text-align: center;
  padding-top: 3%;
  font-size: 4vw;
  font-family: Ubuntu;
  font-weight: bold;
}

#equipe {
  padding-top: -10%;
}

.logo {
  /*position: fixed; */
  float: left;
  margin: 2px 46px;
  width: 15%;
}

.click {
  text-decoration: none;
  color: black;
}

.click:hover {
  text-decoration: none;
  color: red;
}

.boxlink {
  background-color: #2f4660;
  width: 30%;
  text-align: center;
  margin-left: 35%;
  margin-top: 5%;
  border-radius: 4px;
}

nav {
  width: 100%;
  line-height: 60px;
  z-index: 99999;
  background-color: #da6d42;
}

/*nav {
      width: 100%;
      line-height: 60px;
      z-index: 99999;
      background-color: #DA6D42;
    height: 120px;
    position: fixed;
    top: 0;
    transition: top 0.5s;
    transition-delay: 0.1s;
    z-index: 999999;
}

nav.hidden {
    top: -120px;
}*/

#image-equipe {
  width: 60%;
  height: 40%;
}

.col-sm-5 {
  padding-top: 5%;
}

.video-container {
  position: relative;
  padding-bottom: 30.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 15%;
  margin: auto;
  width: 70%;
  height: 117%;
}

.fiche-metier {
  width: 70%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.fiche-metier-seule {
  width: 95%;
  height: 95%;
  margin-top: 10%;
}

@media (max-width: 688px) {
  #div-svg-accueil,
  #div-svg-audiovisuel,
  #div-svg-web {
    display: none;
  }
  .texte-info,
  .texte-info-metiers {
    width: 80% !important;
    padding-bottom: 5%;
  }
  .footer-wrapper-article,
  .footer-wrapper-comm {
    margin-top: 15% !important;
  }
}

.video-container2 {
  position: relative;
  padding-bottom: 30.25%;
  padding-top: 30px;
  margin-top: 1%;
  height: 0;
  overflow: hidden;
}

.video-container2 iframe,
.video-container2 object,
.video-container2 embed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 15%;
  margin: auto;
  width: 70%;
  height: 117%;
}

nav ul {
  line-height: 65px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
  z-index: 999999999;
}

nav.black ul {
  background: #000;
  z-index: 999999999;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
  z-index: 999999999;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  z-index: 999999999;
}

nav ul li a:hover {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.icone-menu {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media (max-width: 786px) {
  .logo {
    position: absolute;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .icone-menu {
    display: block;
  }

  .texte-info,
  .texte-info-metiers {
    font-size: 13px !important;
  }

  #h2-interview {
    font-size: 15px;
  }
  #h1-center {
    font-size: 30px !important;
  }
  .fiche-metier {
    width: 95%;
    height: 100%;
  }
  .pitch {
    width: 80vw !important;
  }
  .footer-wrapper-article,
  .footer-wrapper-comm {
    margin-top: 55% !important;
  }
}

.top {
  width: 100%;
  max-width: 1800px;
  height: 1000px;
  display: block;
  margin: 0 auto;
  /*background: #f3f3f3;*/
}

section.top article {
  height: 300px;
  float: left;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.4s ease;
}

section.top article:hover {
  background: #f4f5f5;
  box-shadow: 0 1px 5px #000000;
  transition: 0.1s ease;
}

section.top article {
  width: 30%;
  height: 300px;
  margin-top: 20px;
  background: #0000;
  float: left;
}

section.full-page {
  width: 100%;
  height: 100%;
  display: block;
}

section.full-page2 {
  width: 100%;
  height: 100%;
  display: block;
  background: white;
}

.flexDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.metiers {
  width: 32%;
  margin: 3% 1.2%;
  display: table;
  border-radius: 9px;
}

.metiers:hover {
  width: 36%;
  margin: 3% 1.2%;
  display: table;
  border-radius: 2px;
  /*box-shadow: 1px 1px 32px black;*/
  transition: width 1s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Raleway", sans-serif !important;
}

.col-sm-5 {
  width: 50%;
  margin: 0 4.1%;
  display: table;
  border-radius: 2px;
}

div.picture img {
  width: 106%;
  margin-left: -2.9%;
  padding-bottom: 0.1%;
  border-radius: 3px;
}

div.post h3,
div.post p {
  padding: 1px 5px;
  text-align: center;
}

div.post a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .col-4 {
    width: 94%;
  }
}

article.post h3 {
  font-size: 22px;
  text-align: center;
}

h1 {
  text-align: center;
}

.noir {
  background: black;
}

.contenu-article {
  margin-right: 2%;
  margin-left: 2%;
  text-align: justify;
  font-family: "Roboto";
  font-size: 2.8vh;
}

.contenu-article2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: "Lato";
  font-size: 21px;
}

.panier-article {
  position: relative;
  left: 10%;
  padding-top: 10%;
}

.panier-quantite {
  position: relative;
  left: 60%;
  display: inline;
}

.panier-prix {
  position: relative;
  left: 90%;
}

#panier {
  overflow: auto;
  text-align: center;
}
#panier-article {
  float: left;
  padding-left: 7%;
}
#panier-quantite {
  float: right;
  padding-right: 7%;
}
#panier-prix {
  display: inline;
}

#hr-panier {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ddd, #333, #ddd);
}

#panier h2 {
  font-size: 180%;
  font-family: "Lato";
  color: #595959;
}

article h1 {
  font-size: 250%;
  font-family: "Lato";
}

#contenu-panier img {
  position: relative;
  padding-left: 4.2%;
}

#contenu-panier p {
  float: right;
  padding-right: 6.5%;
  font-size: 150%;
  font-weight: bold;
}

.plus-minus-input {
  position: relative;
  padding-left: 41.5%;
}

.plus-minus-input .input-group-field {
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.plus-minus-input .input-group-button .circle {
  border-radius: 50%;
  padding: 0.5em 0.8em;
}

.info-nous {
  position: relative;
  margin-top: 25%;
}
.location {
  position: relative;
  padding-top: 5%;
}

.me-contacter {
  padding-top: 61;
}

div iframe {
  position: relative;
  padding-top: 5%;
}

body {
  font-family: "Lato";
}
.clr {
  clear: both;
}
.footer-wrapper {
  width: 100%;
  height: auto;
  min-height: 250px;
  margin: auto;
  background-image: url(footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
  margin-top: 0%;
  background: black;
}

.footer-wrapper-blog {
  width: 100%;
  height: auto;
  min-height: 250px;
  margin: auto;
  background-image: url(footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
  margin-top: 5%;
  background: black;
}

.footer-wrapper-comm {
  width: 100%;
  height: auto;
  min-height: 250px;
  margin: auto;
  background-image: url(footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
  margin-top: 100%;
  background: black;
}

.footer-wrapper-interview {
  width: 100%;
  height: auto;
  min-height: 250px;
  margin: auto;
  background-image: url(footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
  margin-top: 0%;
  background: black;
}

.footer-wrapper-article {
  width: 100%;
  height: auto;
  min-height: 250px;
  margin: auto;
  background-image: url(footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
  margin-top: 100%;
  background: black;
}

.footer-wrapper-fiche {
  width: 100%;
  height: auto;
  min-height: 250px;
  margin: auto;
  background-image: url(footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
  margin-top: 15%;
  background: black;
}

.footer-wrapper-contact {
  width: 100%;
  height: auto;
  min-height: 250px;
  margin: auto;
  background-image: url(footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
  margin-top: 10%;
  background: black;
}
.footer-social-icons {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 40px;
}
.footer-social-icons ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-social-icons ul li {
  display: inline-block;
  margin-right: 2px;
  width: 36px;
  height: 36px;
  text-align: center;
}
.footer-social-icons ul li a {
  color: #fff;
  display: block;
  font-size: 22px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}
.footer-social-icons ul li a i {
  line-height: 36px;
}
.footer-social-icons ul li:nth-child(1) {
  background: #3b5998;
}
.footer-social-icons ul li:nth-child(2) {
  background: #1da1f2;
}
.footer-social-icons ul li:nth-child(3) {
  background: #25d366;
}
.footer-social-icons ul li:nth-child(4) {
  background: #c32aa3;
}
.footer-social-icons ul li:nth-child(5) {
  background: #007bb5;
}
.footer-social-icons ul li:nth-child(6) {
  background: #ff0000;
}
.footer-social-icons ul li:nth-child(7) {
  background: #db4437;
}
.footer-social-icons ul li:nth-child(8) {
  background: #00aff0;
}
.footer-social-icons ul li:nth-child(9) {
  background: #09b83e;
}
.footer-social-icons ul li:nth-child(10) {
  background: #bd081c;
}
.footer-mid-part {
  width: 100%;
  height: auto;
  margin: auto;
}
.footer-section-one {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.1);
}
.footer-section-two {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  text-align: center;
}
.footer-section-three {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.1);
}
.footer-heading {
  width: 100%;
  height: auto;
  margin: auto;
}
.footer-heading h2 {
  font-size: 18px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 0px;
}
.footer-contact-box {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 13px;
}
.footer-contact-icon {
  width: 25px;
  height: 25px;
  float: left;
}
.footer-contact-icon i {
  color: #fff;
  font-size: 20px;
}
.footer-contact-text {
  width: 85%;
  height: auto;
  float: left;
  margin-left: 10px;
}
.footer-contact-text p {
  font-size: 14px;
  text-align: left;
  color: #fff;
  cursor: pointer;
}
.footer-contact-text p a {
  font-size: 14px;
  text-align: left;
  color: #fff;
  text-decoration: none;
}
.footer-contact-text p:hover {
  color: #13c9e1;
}
.footer-contact-box:hover .footer-contact-icon i {
  color: #13c9e1;
}
.footer-contact-box:hover .footer-contact-text p a {
  color: #13c9e1;
}
.footer-link {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.footer-link ul {
  margin: 0px;
  padding: 0px;
}
.footer-link ul li {
  list-style-type: none;
  text-align: center;
  padding-top: 5px;
}
.footer-link ul li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
.footer-link ul li a:hover {
  color: #13c9e1;
}
.footer-link-icons {
  margin-top: 10%;
  margin-left: 10%;
}

.footer-section-two .footer-heading h2 {
  text-align: center;
}
.footer-form {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.footer-form-box {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}
.footer-form-style {
  width: 100%;
  height: 40px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: transparent;
  font-size: 14px;
  text-align: left;
  padding: 0px 10px;
  color: #fff;
}
.footer-form-submit-style {
  width: 129px;
  height: 35px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  margin-top: 1px;
}
.footer-form-submit-style:active {
  background: #13c9e1;
}
.footer-bottom {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-bottom {
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.top-img {
  position: absolute;
  background: url(top-divder.png);
  top: -20px;
  left: 0px;
  width: 100%;
  height: 55px;
}
h1 {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}
h1 span {
  color: #f00;
}
/*RESPONSIVE CODE*/
@media only screen and (max-width: 1199px) {
  .texte-info {
    font-size: 16px !important;
  }
  .texte-info-metiers {
    font-size: 19px !important;
    margin-top: 2% !important;
  }
  .footer-wrapper {
    position: relative;
    background-attachment: scroll;
  }
  .footer-wrapper-article,
  .footer-wrapper-comm {
    margin-top: 65% !important;
  }
  h1 {
    font-size: 4vw !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer-section-one {
    padding: 12px;
  }
  .footer-social-icons ul li {
    margin-bottom: 5px;
  }
}

.twitter {
  width: 220px;
  text-decoration: none;
}

.col-lg-3 col-md-6 col-sm-12 section {
  width: 20%;
  margin: 50 auto;
}

.loader {
  width: 80%;
  height: 20px;
  background: white;
  border-radius: 10px;
  border: 1px solid lightgrey;
  overflow: hidden;
}

.loader-active {
  width: 100%;
  height: 100%;
  background: green;
  animation-name: loader;
  animation-duration: 4s;
  animation-iteration-count: infinite; /*1, 2, more or infinite */
  animation-timing-function: linear; /* ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  /*
   animation-delay: 2s;
  */
}

@keyframes loader {
  0% {
    background-color: #1b80cd;
    width: 0%;
  }
  50% {
    background-color: #a23daf;
    width: 50%;
  }
  100% {
    background-color: #ff0000;
    width: 100%;
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

.titre-connexion {
  font-size: 6vw;
  text-align: center;
  margin-bottom: -21px;
  display: block;
}

.titre-connexion span {
  font-size: 2vw;
  text-align: center;
  display: block;
  margin-bottom: 25px;
}
.login {
  width: 20%;
  text-align: center;
  background: #fff;
  height: 300px;
  padding: 10px;
  margin: 50px auto;
}

.login2 {
  width: 20%;
  text-align: center;
  background: #fff;
  height: 350px;
  padding: 10px;
  margin: 50px auto;
}

.div-utilisateur {
  color: #888888;
  text-align: left;
  font-size: 19px;
  margin-top: 15px;
}
.giris {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: none;
  background: #e5e5e5;
  outline: none;
  padding: 0 10px;
}
.butonlogin {
  width: 100%;
  margin-top: 10px;
  height: 40px;
  font-weight: bold;
  background: #2196f3;
  border: none;
  color: #fff;
  transition: all 250ms;
}
.butonlogin:hover {
  background: #1e88e5;
}

.pas-encore-inscrit {
  position: relative;
  padding-top: 10px;
}

.section-connexion {
  height: 90vh;
}

.hr-connexion {
  border: 1px solid #ccc;
}

/* FORMULAIRE DE CONTACT*/

.formulaire {
  margin-top: 1%;
  margin-left: 5%;
  width: 50%;
}

/*input[type=text] {
      border-radius: 3px;
      border: 0.3px solid;
      height: 30px;
}*/

#nom1 {
  position: relative;
  margin-left: 10%;
  padding-top: 10%;
}

#prenom1 {
  position: relative;
  margin-left: 10%;
}

#email1 {
  position: relative;
  margin-left: 10%;
}

#telephone1 {
  position: relative;
  margin-left: 10%;
}

.textarea {
  margin-left: 55%;
  margin-top: -12.7%;
  width: 30%;
}

.hr-contact {
  border-left: 1px solid black;
  height: 205px;
  position: absolute;
  left: 50.8%;
  top: 228%;
}

.hr-metier {
  margin: auto;
  margin-bottom: 5%;
  width: 50%;
  border: solid black 0.5px;
}

hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
}

.shine {
  height: 20px;
  width: 60%;
  background-image: radial-gradient(farthest-side at 50% -50%, hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0));
  position: relative;
}

.shine::before {
  height: 1px;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  background-image: linear-gradient(90deg, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.75) 50%, hsla(0, 0%, 0%, 0));
}

.hr2 {
  width: 0%;
  min-width: 20%;
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 10%;
  border: 0.2px solid grey;
  border-bottom: 1px solid #666;
  position: relative;
  transition: box-shadow 200ms ease-in-out;
  box-shadow: 0px 0px 0px 0px #f9f9f9;
}

.pitch {
  color: #b6b6b6;
  font-size: 17px;
  position: relative;
  padding-top: 10%;
  width: 45vw;
  text-align: justify;
}

.bouton-paiement a {
  position: relative;
  margin-top: -10%;
  margin-left: 72%;
  width: 25%;
}

.btn-success {
  position: relative;
  margin-left: 40%;
  margin-top: 3%;
  margin-bottom: 10%;
}

.infos {
  position: relative;
  margin-top: -21%;
}

@media screen and (max-width: 767px) {
  .texte-info {
    font-size: 13px !important;
  }
  .texte-info-metiers {
    font-size: 15px !important;
  }
  .h2-center-accueil {
    font-size: 25px;
  }
  .h2-center {
    font-size: 25px;
  }

  #h2-center-video {
    font-size: 15px;
  }
  .col-4 {
    width: 120px;
  }
  .metiers {
    width: 50%;
  }
  .footer-wrapper-article,
  .footer-wrapper-comm {
    margin-top: 40% !important;
  }
}

/* input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 45%;
  margin-top: 6px;
}

#subject {
  float: left;
  width: 75%;
  padding-left: 6px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
} */

#div-svg-accueil {
  border: none;
  width: 40%;
  height: 30%;
  margin-left: 5%;
  margin-bottom: 5%;
}

#div-svg-accueil img {
  width: 100%;
  height: auto;
  stroke: none;
  stroke-width: 0%;
}

#div-svg-web {
  border: none;
  width: 40%;
  height: 30%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

#div-svg-web img {
  width: 100%;
  height: auto;
  stroke: none;
  stroke-width: 0%;
}

#div-svg-comm {
  border: none;
  width: 40%;
  height: 30%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

#div-svg-comm img {
  width: 100%;
  height: auto;
  stroke: none;
  stroke-width: 0%;
}

#div-svg-audiovisuel {
  border: none;
  width: 40%;
  height: 30%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

#div-svg-audiovisuel img {
  width: 100%;
  height: auto;
  stroke: none;
  stroke-width: 0%;
}

.content2 {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-index {
  background-color: #e7ebff;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.texte-info {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: "Lato";
  font-size: 25px;
  margin-top: auto;
  margin-bottom: auto;
}

.texte-info-metiers {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: "Lato";
  font-size: 25px;
  margin-top: auto;
  margin-bottom: auto;
}

#div-video {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #e7ebff;
  padding-top: 5%;
  padding-bottom: 5%;
}

.div-fiche-metier {
  width: 100%;
  text-align: center;
  margin-top: -5%;
}

input[type="submit"] {
  background-color: #827ffe;
  border-radius: 100px;
  height: 62px;
  width: 150px;
  border: none;
  color: white;
  transition: all 0.3s;
}

input[type="submit"]:hover {
  background-color: #403866;
  border-radius: 100px;
  height: 62px;
  width: 200px;
  border: none;
  transition: all 0.3s;
  color: white;
}
